<div class="row mb-2">
	<div class="col-12 d-flex align-items-center justify-content-between">
	
		<select class="form-select w-auto" id="year">
			{{#each years}}
				{{#if @last }}
					<option value="{{_id}}" selected>{{startYear}}-{{endYear}}</option>
				{{else}}
					<option value="{{_id}}">{{startYear}}-{{endYear}}</option>
				{{/if}}
			{{/each}}
		</select>
		<div class="button-add d-none">
			<div class="btn-group">
				<button class="btn border px-4 btn-primary" data-toggle="modal" data-target="#addStudent">Thêm thủ công</button>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-2" style="height: 500px; overflow-y: auto">
		<p class="mt-4"></p>
		{{#each grades}}
			<p class="w-100 dropdown-toggle" type="button" data-toggle="collapse" data-target="#grade{{@key}}" aria-expanded="false" aria-controls="grade{{@key}}">
				Khối {{@key}}
			</p>
			<div class="collapse" id="grade{{@key}}">
				<ul>
					{{#each this}}
						<li class="grade-li my-2" style="cursor: pointer;" data-id="{{_id}}">
							Lớp {{name}}
						</li>
					{{/each}}
				</ul>
			</div>
		{{/each}}
	</div>
	<div class="bg-light rounded text-center p-4 col-10">
		<img src="/imgs/background_info.png" alt="" class="img-fluid img-wait" style="max-width: 80%">
		<div class="table-responsive d-none">
			<table class="table text-center align-middle table-bordered table-hover mb-0 overflow-auto text-nowrap">
				<thead>
					<tr class="text-dark">
						<th scope="col">Mã học sinh</th>
						<th scope="col">Họ tên</th>
						<th scope="col">Ngày sinh</th>
						<th scope="col">Lớp</th>
						<th scope="col">Giới tính</th>
						<th scope="col">Dân tộc</th>
						<th scope="col">Chỗ ở hiện tại</th>
					</tr>
				</thead>
				<tbody id="tbody-student">
					
				</tbody>
			</table>
		</div>
	</div>
</div>

<div class="modal fade" id="addStudent">
    <div class="modal-dialog modal-lg">
		<div class="modal-content p-2">
			<!-- Modal Header -->
			<div class="modal-header justify-content-center">
				<h4 class="modal-title">Thêm mới học sinh</h4>
			</div>
			
			<!-- Modal body -->
			<div class="modal-body">
				<div class="container-fluid">
					<div class="row">
						<div class="col-6">
							<div class="form-group mb-3">
								<label style="font-weight: bold" class="mb-1" for="name">Họ tên</label>
								<input type="text" class="form-control" id="name" required>
							</div>
						</div>
						<div class="col-6">
							<div class="form-group mb-3">
								<label style="font-weight: bold" class="mb-1" for="birthday">Ngày sinh</label>
								<input type="date" class="form-control" id="birthday" required>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-6">
							<div class="form-group mb-3">
								<label style="font-weight: bold" class="mb-1" for="classStudent">Lớp</label>
								<select class="form-select" id="classStudent" required>
									{{#each classes}}
										<option value="{{_id}}">{{name}}</option>
									{{/each}}
								</select>
							</div>
						</div>
						<div class="col-6">
							<div class="form-group mb-3">
								<label style="font-weight: bold" class="mb-1" for="gender">Giới tính</label>
								<select class="form-select" id="gender" required>
									<option value="1">Nam</option>
									<option value="0">Nữ</option>
								</select>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-6">
							<div class="form-group mb-3">
								<label style="font-weight: bold" class="mb-1" for="ethnic">Dân tộc</label>
								<input type="text" class="form-control" id="ethnic" required>
							</div>
						</div>
						<div class="col-6">
							<div class="form-group mb-3">
								<label style="font-weight: bold" class="mb-1" for="address">Chỗ ở hiện tại</label>
								<input type="text" class="form-control" id="address" required>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-6">
							<div class="form-group mb-3">
								<label style="font-weight: bold" class="mb-1" for="nameDad">Họ tên cha</label>
								<input type="text" class="form-control" id="nameDad" required>
							</div>
						</div>
						<div class="col-6">
							<div class="form-group mb-3">
								<label style="font-weight: bold" class="mb-1" for="jobDad">Nghề nghiệp cha</label>
								<input type="text" class="form-control" id="jobDad" required>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-6">
							<div class="form-group mb-3">
								<label style="font-weight: bold" class="mb-1" for="phoneDad">Số điện thoại cha</label>
								<input type="text" class="form-control" id="phoneDad" required>
							</div>
						</div>
						<div class="col-6">
							<div class="form-group mb-3">
								<label style="font-weight: bold" class="mb-1" for="emailDad">Email cha</label>
								<input type="text" class="form-control" id="emailDad" required>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-6">
							<div class="form-group mb-3">
								<label style="font-weight: bold" class="mb-1" for="nameMom">Họ tên mẹ</label>
								<input type="text" class="form-control" id="nameMom" required>
							</div>
						</div>
						<div class="col-6">
							<div class="form-group mb-3">
								<label style="font-weight: bold" class="mb-1" for="jobMom">Nghề nghiệp mẹ</label>
								<input type="text" class="form-control" id="jobMom" required>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-6">
							<div class="form-group mb-3">
								<label style="font-weight: bold" class="mb-1" for="phoneMom">Số điện thoại mẹ</label>
								<input type="text" class="form-control" id="phoneMom" required>
							</div>
						</div>
						<div class="col-6">
							<div class="form-group mb-3">
								<label style="font-weight: bold" class="mb-1" for="emailMom">Email mẹ</label>
								<input type="text" class="form-control" id="emailMom" required>
							</div>
						</div>
					</div>

				</div>
				<button type="button" class="w-100 text-center btn btn-primary btn-save-student-single">Lưu</button>
			</div>
			
			<!-- Modal footer -->
			<div class="modal-footer">
			</div>
			
		</div>
	</div>
</div>


<div class="modal fade" id="editStudent">
    <div class="modal-dialog modal-lg">
		<div class="modal-content p-2">
			<!-- Modal Header -->
			<div class="modal-header justify-content-center">
				<h4 class="modal-title">Thay đổi thông tin học sinh</h4>
			</div>
			
			<!-- Modal body -->
			<div class="modal-body">
				<div class="container-fluid">
					<div class="row">
						<div class="col-6">
							<div class="form-group mb-3">
								<label style="font-weight: bold" class="mb-1" for="nameEdit">Họ tên</label>
								<input type="text" class="form-control" id="nameEdit" required>
							</div>
						</div>
						<div class="col-6">
							<div class="form-group mb-3">
								<label style="font-weight: bold" class="mb-1" for="birthdayEdit">Ngày sinh</label>
								<input type="date" class="form-control" id="birthdayEdit" required>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-6">
							<div class="form-group mb-3">
								<label style="font-weight: bold" class="mb-1" for="classStudentEdit">Lớp</label>
								<select class="form-select" id="classStudentEdit" required>
									{{#each classes}}
										<option value="{{_id}}">{{name}}</option>
									{{/each}}
								</select>
							</div>
						</div>
						<div class="col-6">
							<div class="form-group mb-3">
								<label style="font-weight: bold" class="mb-1" for="genderEdit">Giới tính</label>
								<select class="form-select" id="genderEdit" required>
									<option value="1">Nam</option>
									<option value="0">Nữ</option>
								</select>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-6">
							<div class="form-group mb-3">
								<label style="font-weight: bold" class="mb-1" for="ethnicEdit">Dân tộc</label>
								<input type="text" class="form-control" id="ethnicEdit" required>
							</div>
						</div>
						<div class="col-6">
							<div class="form-group mb-3">
								<label style="font-weight: bold" class="mb-1" for="addressEdit">Chỗ ở hiện tại</label>
								<input type="text" class="form-control" id="addressEdit" required>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-6">
							<div class="form-group mb-3">
								<label style="font-weight: bold" class="mb-1" for="nameDadEdit">Họ tên cha</label>
								<input type="text" class="form-control" id="nameDadEdit" required>
							</div>
						</div>
						<div class="col-6">
							<div class="form-group mb-3">
								<label style="font-weight: bold" class="mb-1" for="jobDadEdit">Nghề nghiệp cha</label>
								<input type="text" class="form-control" id="jobDadEdit" required>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-6">
							<div class="form-group mb-3">
								<label style="font-weight: bold" class="mb-1" for="phoneDadEdit">Số điện thoại cha</label>
								<input type="text" class="form-control" id="phoneDadEdit" required>
							</div>
						</div>
						<div class="col-6">
							<div class="form-group mb-3">
								<label style="font-weight: bold" class="mb-1" for="emailDadEdit">Email cha</label>
								<input type="text" class="form-control" id="emailDadEdit" required>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-6">
							<div class="form-group mb-3">
								<label style="font-weight: bold" class="mb-1" for="nameMomEdit">Họ tên mẹ</label>
								<input type="text" class="form-control" id="nameMomEdit" required>
							</div>
						</div>
						<div class="col-6">
							<div class="form-group mb-3">
								<label style="font-weight: bold" class="mb-1" for="jobMomEdit">Nghề nghiệp mẹ</label>
								<input type="text" class="form-control" id="jobMomEdit" required>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-6">
							<div class="form-group mb-3">
								<label style="font-weight: bold" class="mb-1" for="phoneMomEdit">Số điện thoại mẹ</label>
								<input type="text" class="form-control" id="phoneMomEdit" required>
							</div>
						</div>
						<div class="col-6">
							<div class="form-group mb-3">
								<label style="font-weight: bold" class="mb-1" for="emailMomEdit">Email mẹ</label>
								<input type="text" class="form-control" id="emailMomEdit" required>
							</div>
						</div>
					</div>

				</div>
				<button type="button" class="w-100 text-center btn btn-primary btn-edit-student-single">Thay đổi</button>
			</div>
			
			<!-- Modal footer -->
			<div class="modal-footer">
			</div>
			
		</div>
	</div>
</div>


<script>
	$(function() {
		$('.dropdown-toggle').on('click', function () {
			// Đóng tất cả các danh sách ul trước đó
			$('.collapse').collapse('hide');
			// Mở danh sách ul con của phần tử đang nhấp
			$($(this).data('target')).collapse('show');
		});

		$("#year").change(function () {
			let id = $(this).val();
			fetch(`/admin/getGradeByYear/${id}`)
			.then(res => res.json())
			.then(data => {
				console.log(data);	
				if(data) {
					let class6 = ``;
					let class7 = ``;
					let class8 = ``;
					let class9 = ``;
					data.forEach(item => {
						if(item.grade == 6) {
							class6 += `
							<li class="grade-li my-2" style="cursor: pointer;" data-id="${item._id}">
								Lớp ${item.name}
							</li>`;
						} else if(item.grade == 7) {
							class7 += `
							<li class="grade-li my-2" style="cursor: pointer;" data-id="${item._id}">
								Lớp ${item.name}
							</li>`;
						} else if(item.grade == 8) {
							class8 += `
							<li class="grade-li my-2" style="cursor: pointer;" data-id="${item._id}">
								Lớp ${item.name}
							</li>`;
						} else {
							class9 += `
							<li class="grade-li my-2" style="cursor: pointer;" data-id="${item._id}">
								Lớp ${item.name}
							</li>`;
						}
					});
					$('#grade6 ul').empty().append(class6);
					$('#grade7 ul').empty().append(class7);	
					$('#grade8 ul').empty().append(class8);
					$('#grade9 ul').empty().append(class9);
				}
			})
			.catch(err => {
				console.log(err);
				toastr.error('Lỗi hệ thống');
			})
		})
		$(".btn-save-student-single").click(() => {
			let id = $('#classStudent').val();
			let name = $('#name').val();
			let birthday = $('#birthday').val();
			let gender = $('#gender').val();
			let ethnic = $('#ethnic').val();
			let address = $('#address').val();
			let classText = $('#classStudent :selected').text();
			let nameDad = $('#nameDad').val(),
				phoneDad = $('#phoneDad').val(),
				jobDad = $('#jobDad').val(),
				emailDad = $('#emailDad').val(),
				nameMom = $('#nameMom').val(),
				phoneMom = $('#phoneMom').val(),
				jobMom = $('#jobMom').val(),
				emailMom = $('#emailMom').val();
			if (name === '' || birthday === '' || ethnic === '' || address === '' 
				|| nameDad === '' || jobDad === '' || phoneDad === '' || emailDad === ''
				|| nameMom === '' || phoneMom === '' || jobMom === '' || emailMom === '') {
				toastr.error("Vui lòng nhập đầy đủ thông tin");
			} else {
				fetch(`/admin/addStudent/${id}`, {
					method: "POST",
					headers: {
						'Content-Type': 'application/json',
					},
					body: JSON.stringify({
											name, birthday, gender, ethnic, address,
											nameDad, phoneDad, jobDad, emailDad,
											nameMom, phoneMom, jobMom, emailMom
										})
				})
				.then((res) => {
					if (!res.ok) {
						throw new Error(`Mã lỗi HTTP: ${res.status}`);
					}
					return res.json();
				})
				.then(data => {
					const inputDateStr = data.birthday;
					const year = inputDateStr.substr(0, 4);    // Trích xuất 4 ký tự đầu là năm
					const month = inputDateStr.substr(5, 2);   // Trích xuất 2 ký tự sau là tháng
					const day = inputDateStr.substr(8, 2);     // Trích xuất 2 ký tự sau là ngày
					const gender = data.gender ? 'Nam' : 'Nữ';
					// định dạng "DD/MM/YYYY"
					const birthday = `${day}/${month}/${year}`;
					let newTr = `<tr>
							<td>${data.studentId}</td>
							<td>${data.name}</td>
							<td>${birthday}</td>
							<td>${classText}</td>
							<td>${gender}</td>
							<td>${data.ethnic}</td>
							<td>${data.address}</td>
						</tr>`;
					toastr.success("Thêm thành công");
					$('tbody').append(newTr);
				})
				.catch(err => {
					console.log(err);
					toastr.error("Thêm không thành công");
				});
				$("#addStudent").modal("hide");
			}
			
		});
		$('.grade-li').click(function () {
			$('.img-wait').addClass('d-none');
			$('.table-responsive').removeClass('d-none');
			$('.button-add').removeClass('d-none');
			$('#spinner').addClass('show');
			$('#tbody-student').empty();
			let id = $(this).data("id");
			fetch(`/admin/class?id=${id}`)
			.then(res => res.json())
			.then(data => {
				console.log(data);
				if(data.students) {
					let tr = ``;
					data.students.forEach(student => {
						const gender = student.gender === true ? 'Nam' : 'Nữ';
						const parts = student.birthday.substring(0, 10).split('-');
						const birthday = `${parts[2]}-${parts[1]}-${parts[0]}`;
						tr += `<tr data-id="${student.studentId}">
								<td>${student.studentId}</td>
								<td>${student.name}</td>
								<td>${birthday}</td>
								<td>${student.class}</td>
								<td>${gender}</td>
								<td>${student.ethnicity}</td>
								<td>${student.address}</td>
							</tr>`;
					});
					$('#tbody-student').append(tr);
					$('#spinner').removeClass('show');
				}
			})
			.catch(error => { 
				console.log(error);
				$('#spinner').removeClass('show');
				toastr.error("Lỗi hệ thống");
			});
		});
		let mssv = null;
		let clickedTr = null;
		$('#tbody-student').on('click', 'tr', function() {
			clickedTr = $(this);
			let id = $(this).data('id');
			mssv = id;
			fetch(`/admin/student/${id}`)
			.then(res => {
				if(!res.ok) throw new Error('Lỗi');
				return res.json();
			})
			.then(data => {
				$('#nameEdit').val(data.name);
				$('#birthdayEdit').val(data.birthday.substring(0, 10));
				$('#classStudentEdit').val(data.currentClass._id);
				$('#genderEdit').val(data.gender === true ? 1 : 0);
				$('#ethnicEdit').val(data.ethnicity);
				$('#addressEdit').val(data.address);
				$('#nameDadEdit').val(data.parents[0].name);
				$('#jobDadEdit').val(data.parents[0].job);
				$('#phoneDadEdit').val(data.parents[0].phone);
				$('#emailDadEdit').val(data.parents[0].email);
				$('#nameMomEdit').val(data.parents[1].name);
				$('#jobMomEdit').val(data.parents[1].job);
				$('#phoneMomEdit').val(data.parents[1].phone);
				$('#emailMomEdit').val(data.parents[1].email);
				$('#editStudent').modal('show');
			})
			.catch(error => {
				console.log(error);
				toastr.error('Lỗi hệ thống khi lấy thông tin học sinh');
			})
		});

		$(".btn-edit-student-single").click(() => {
			let idClass = $('#classStudentEdit').val();
			let name = $('#nameEdit').val();
			let birthday = $('#birthdayEdit').val();
			let gender = $('#genderEdit').val();
			let ethnic = $('#ethnicEdit').val();
			let address = $('#addressEdit').val();
			let classText = $('#classStudentEdit :selected').text();
			let nameDad = $('#nameDadEdit').val(),
				phoneDad = $('#phoneDadEdit').val(),
				jobDad = $('#jobDadEdit').val(),
				emailDad = $('#emailDadEdit').val(),
				nameMom = $('#nameMomEdit').val(),
				phoneMom = $('#phoneMomEdit').val(),
				jobMom = $('#jobMomEdit').val(),
				emailMom = $('#emailMomEdit').val();
			if (name === '' || birthday === '' || ethnic === '' || address === '' 
				|| nameDad === '' || jobDad === '' || phoneDad === '' || emailDad === ''
				|| nameMom === '' || phoneMom === '' || jobMom === '' || emailMom === '') {
				toastr.error("Vui lòng nhập đầy đủ thông tin");
			} else {
				fetch(`/admin/editStudent/${mssv}`, {
					method: "POST",
					headers: {
						'Content-Type': 'application/json',
					},
					body: JSON.stringify({
											name, birthday, gender, ethnic, address,
											nameDad, phoneDad, jobDad, emailDad,
											nameMom, phoneMom, jobMom, emailMom, idClass
										})
				})
				.then((res) => {
					if (!res.ok) {
						throw new Error(`Mã lỗi HTTP: ${res.status}`);
					}
					return res.json();
				})
				.then(data => {
					const inputDateStr = data.birthday;
					console.log(data)
					const year = inputDateStr.substr(0, 4);    // Trích xuất 4 ký tự đầu là năm
					const month = inputDateStr.substr(5, 2);   // Trích xuất 2 ký tự sau là tháng
					const day = inputDateStr.substr(8, 2);     // Trích xuất 2 ký tự sau là ngày
					const gender = data.gender ? 'Nam' : 'Nữ';
					// định dạng "DD/MM/YYYY"
					const birthday = `${day}/${month}/${year}`;
					$(clickedTr.find('td').eq(0)).text(data.studentId);
					$(clickedTr.find('td').eq(1)).text(data.name);
					$(clickedTr.find('td').eq(2)).text(birthday);
					$(clickedTr.find('td').eq(3)).text(classText);
					$(clickedTr.find('td').eq(4)).text(gender);
					$(clickedTr.find('td').eq(5)).text(data.ethnicity);
					$(clickedTr.find('td').eq(6)).text(data.address);
					toastr.success("Thay đổi thành công");
					console.log($(clickedTr.find('td').eq(0)).text());
					$("#editStudent").modal("hide");

				})
				.catch(err => {
					console.log(err);
					toastr.error("Thay đổi không thành công");
				});
			}
			
		});
	});
	
</script>