<div class="row mb-2">
	<div class="col-12 d-flex align-items-center justify-content-between">
	
		<select class="form-select w-auto" id="year">
			{{#each years}}
				{{#if @last }}
					<option value="{{_id}}" selected>{{startYear}}-{{endYear}}</option>
				{{else}}
					<option value="{{_id}}">{{startYear}}-{{endYear}}</option>
				{{/if}}
			{{/each}}
		</select>
		<div class="">
			<div class="btn-group">
				<button class="btn border px-4 btn-primary" data-toggle="modal" data-target="#addStudent">Thêm thủ công</button>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-2" style="height: 500px; overflow-y: auto">
		<p class="mt-4"></p>
		{{#each grades}}
			<p class="w-100 dropdown-toggle" type="button" data-toggle="collapse" data-target="#grade{{@key}}" aria-expanded="false" aria-controls="grade{{@key}}">
				Khối {{@key}}
			</p>
			<div class="collapse" id="grade{{@key}}">
				<ul>
					{{#each this}}
						<li class="grade-li my-2" style="cursor: pointer;" data-id="{{_id}}">
							Lớp {{name}}
						</li>
					{{/each}}
				</ul>
			</div>
		{{/each}}
	</div>
	<div class="bg-light text-center rounded p-4 col-10">
		<div class="table-responsive">
			<table class="table text-center align-middle table-bordered table-hover mb-0 overflow-auto text-nowrap">
				<thead>
					<tr class="text-dark">
						<th scope="col">Mã học sinh</th>
						<th scope="col">Họ tên</th>
						<th scope="col">Ngày sinh</th>
						<th scope="col">Lớp</th>
						<th scope="col">Giới tính</th>
						<th scope="col">Dân tộc</th>
						<th scope="col">Chỗ ở hiện tại</th>
					</tr>
				</thead>
				<tbody id="tbody-student">
					{{#each students}}
						<tr>
							<td>{{studentId}}</td>
							<td>{{name}}</td>
							<td>{{birthday}}</td>
							<td>{{class}}</td>
							<td>{{gender}}</td>
							<td>{{ethnic}}</td>
							<td>{{address}}</td>
						</tr>
					{{/each}}
				</tbody>
			</table>
		</div>
	</div>
</div>

<div class="modal fade" id="addStudent">
    <div class="modal-dialog modal-lg">
		<div class="modal-content p-2">
			<!-- Modal Header -->
			<div class="modal-header justify-content-center">
				<h4 class="modal-title">Thêm mới học sinh</h4>
			</div>
			
			<!-- Modal body -->
			<div class="modal-body">
				<div class="container-fluid">
					<div class="row">
						<div class="col-6">
							<div class="form-group mb-3">
								<label style="font-weight: bold" class="mb-1" for="name">Họ tên</label>
								<input type="text" class="form-control" id="name" required>
							</div>
						</div>
						<div class="col-6">
							<div class="form-group mb-3">
								<label style="font-weight: bold" class="mb-1" for="birthday">Ngày sinh</label>
								<input type="date" class="form-control" id="birthday" required>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-6">
							<div class="form-group mb-3">
								<label style="font-weight: bold" class="mb-1" for="classStudent">Lớp</label>
								<select class="form-select" id="classStudent" required>
									{{#each classes}}
										<option value="{{_id}}">{{name}}</option>
									{{/each}}
								</select>
							</div>
						</div>
						<div class="col-6">
							<div class="form-group mb-3">
								<label style="font-weight: bold" class="mb-1" for="gender">Giới tính</label>
								<select class="form-select" id="gender" required>
									<option value="1">Nam</option>
									<option value="0">Nữ</option>
								</select>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-6">
							<div class="form-group mb-3">
								<label style="font-weight: bold" class="mb-1" for="ethnic">Dân tộc</label>
								<input type="text" class="form-control" id="ethnic" required>
							</div>
						</div>
						<div class="col-6">
							<div class="form-group mb-3">
								<label style="font-weight: bold" class="mb-1" for="address">Chỗ ở hiện tại</label>
								<input type="text" class="form-control" id="address" required>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-6">
							<div class="form-group mb-3">
								<label style="font-weight: bold" class="mb-1" for="nameDad">Họ tên cha</label>
								<input type="text" class="form-control" id="nameDad" required>
							</div>
						</div>
						<div class="col-6">
							<div class="form-group mb-3">
								<label style="font-weight: bold" class="mb-1" for="jobDad">Nghề nghiệp cha</label>
								<input type="text" class="form-control" id="jobDad" required>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-6">
							<div class="form-group mb-3">
								<label style="font-weight: bold" class="mb-1" for="phoneDad">Số điện thoại cha</label>
								<input type="text" class="form-control" id="phoneDad" required>
							</div>
						</div>
						<div class="col-6">
							<div class="form-group mb-3">
								<label style="font-weight: bold" class="mb-1" for="emailDad">Email cha</label>
								<input type="text" class="form-control" id="emailDad" required>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-6">
							<div class="form-group mb-3">
								<label style="font-weight: bold" class="mb-1" for="nameMom">Họ tên mẹ</label>
								<input type="text" class="form-control" id="nameMom" required>
							</div>
						</div>
						<div class="col-6">
							<div class="form-group mb-3">
								<label style="font-weight: bold" class="mb-1" for="jobMom">Nghề nghiệp mẹ</label>
								<input type="text" class="form-control" id="jobMom" required>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-6">
							<div class="form-group mb-3">
								<label style="font-weight: bold" class="mb-1" for="phoneMom">Số điện thoại mẹ</label>
								<input type="text" class="form-control" id="phoneMom" required>
							</div>
						</div>
						<div class="col-6">
							<div class="form-group mb-3">
								<label style="font-weight: bold" class="mb-1" for="emailMom">Email mẹ</label>
								<input type="text" class="form-control" id="emailMom" required>
							</div>
						</div>
					</div>

				</div>
				<button type="button" class="w-100 text-center btn btn-primary btn-save-student-single">Lưu</button>
			</div>
			
			<!-- Modal footer -->
			<div class="modal-footer">
			</div>
			
		</div>
	</div>
</div>



<script>
	$(function() {
		$('.dropdown-toggle').on('click', function () {
			// Đóng tất cả các danh sách ul trước đó
			$('.collapse').collapse('hide');
			// Mở danh sách ul con của phần tử đang nhấp
			$($(this).data('target')).collapse('show');
		});

		$("#year").change(function () {
			let id = $(this).val();
			fetch(`/admin/getGradeByYear/${id}`)
			.then(res => res.json())
			.then(data => {
				console.log(data);	
				if(data) {
					let class6 = ``;
					let class7 = ``;
					let class8 = ``;
					let class9 = ``;
					data.forEach(item => {
						if(item.grade == 6) {
							class6 += `
							<li class="grade-li my-2" style="cursor: pointer;" data-id="${item._id}">
								Lớp ${item.name}
							</li>`;
						} else if(item.grade == 7) {
							class7 += `
							<li class="grade-li my-2" style="cursor: pointer;" data-id="${item._id}">
								Lớp ${item.name}
							</li>`;
						} else if(item.grade == 8) {
							class8 += `
							<li class="grade-li my-2" style="cursor: pointer;" data-id="${item._id}">
								Lớp ${item.name}
							</li>`;
						} else {
							class9 += `
							<li class="grade-li my-2" style="cursor: pointer;" data-id="${item._id}">
								Lớp ${item.name}
							</li>`;
						}
					});
					$('#grade6 ul').empty().append(class6);
					$('#grade7 ul').empty().append(class7);	
					$('#grade8 ul').empty().append(class8);
					$('#grade9 ul').empty().append(class9);
				}
			})
			.catch(err => {
				console.log(err);
				toastr.error('Lỗi hệ thống');
			})
		})
		$(".btn-save-student-single").click(() => {
			let id = $('#classStudent').val();
			let name = $('#name').val();
			let birthday = $('#birthday').val();
			let gender = $('#gender').val();
			let ethnic = $('#ethnic').val();
			let address = $('#address').val();
			let classText = $('#classStudent :selected').text();
			let nameDad = $('#nameDad').val(),
				phoneDad = $('#phoneDad').val(),
				jobDad = $('#jobDad').val(),
				emailDad = $('#emailDad').val(),
				nameMom = $('#nameMom').val(),
				phoneMom = $('#phoneMom').val(),
				jobMom = $('#jobMom').val(),
				emailMom = $('#emailMom').val();
			if (name === '' || birthday === '' || ethnic === '' || address === '' 
				|| nameDad === '' || jobDad === '' || phoneDad === '' || emailDad === ''
				|| nameMom === '' || phoneMom === '' || jobMom === '' || emailMom === '') {
				toastr.error("Vui lòng nhập đầy đủ thông tin");
			} else {
				fetch(`/admin/addStudent/${id}`, {
					method: "POST",
					headers: {
						'Content-Type': 'application/json',
					},
					body: JSON.stringify({
											name, birthday, gender, ethnic, address,
											nameDad, phoneDad, jobDad, emailDad,
											nameMom, phoneMom, jobMom, emailMom
										})
				})
				.then((res) => {
					if (!res.ok) {
						throw new Error(`Mã lỗi HTTP: ${res.status}`);
					}
					return res.json();
				})
				.then(data => {
					const inputDateStr = data.birthday;
					const year = inputDateStr.substr(0, 4);    // Trích xuất 4 ký tự đầu là năm
					const month = inputDateStr.substr(5, 2);   // Trích xuất 2 ký tự sau là tháng
					const day = inputDateStr.substr(8, 2);     // Trích xuất 2 ký tự sau là ngày
					const gender = data.gender ? 'Nam' : 'Nữ';
					// định dạng "DD/MM/YYYY"
					const birthday = `${day}/${month}/${year}`;
					let newTr = `<tr>
							<td>${data.studentId}</td>
							<td>${data.name}</td>
							<td>${birthday}</td>
							<td>${classText}</td>
							<td>${gender}</td>
							<td>${data.ethnic}</td>
							<td>${data.address}</td>
						</tr>`;
					toastr.success("Thêm thành công");
					$('tbody').append(newTr);
				})
				.catch(err => {
					console.log(err);
					toastr.error("Thêm không thành công");
				});
				$("#addStudent").modal("hide");
			}
			
		});
		
	});
	$('.grade-li').click(function () {
		$('#spinner').addClass('show');
		$('#tbody-student').empty();
		let id = $(this).data("id");
		fetch(`/admin/class?id=${id}`)
		.then(res => res.json())
		.then(data => {
			console.log(data);
			if(data.students) {
				let tr = ``;
				data.students.forEach(student => {
					const gender = student.gender === true ? 'Nam' : 'Nữ';
					const parts = student.birthday.substring(0, 10).split('-');
					const birthday = `${parts[2]}-${parts[1]}-${parts[0]}`;
					tr += `<tr>
							<td>${student.studentId}</td>
							<td>${student.name}</td>
							<td>${birthday}</td>
							<td>${student.class}</td>
							<td>${gender}</td>
							<td>${student.ethnicity}</td>
							<td>${student.address}</td>
						</tr>`;
				});
				$('#tbody-student').append(tr);
				$('#spinner').removeClass('show');
			}
		})
		.catch(error => { 
			console.log(error);
			$('#spinner').removeClass('show');
			toastr.error("Lỗi hệ thống");
		});
	})
</script>