<!-- table Start -->
<div class="container-fluid pt-4 px-4">
    <div class="bg-light text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">Lịch dạy</h6>
            <!-- <a href="">Show All</a> -->
        </div>
        <div class="table-responsive">
            <table class="table text-start align-middle table-bordered mb-0">
                <thead>
                    <tr class="text-dark">
                        <th>Tiết</th>
                        <th>Thứ 2</th>
                        <th>Thứ 3</th>
                        <th>Thứ 4</th>
                        <th>Thứ 5</th>
                        <th>Thứ 6</th>
                        <th>Thứ 7</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each timeTable}}
                    <tr>
                        <td>{{period}}</td>
                        {{#each class}}
                        <td>{{.}}</td>
                        {{/each}}
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- table Sales End -->

<!-- home Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        {{#each assignments}}
        <div class="col-sm-12 col-md-6 col-xl-4">
            <a href="/teacher/classroom/{{_id}}" class="card h-100 bg-light rounded p-4 text-dark">
                <div class="mb-0">
                    <div class="mb-0 fs-5 fw-bold">{{subject.name}}</div>
                    <div>Lớp {{class.name}}</div>
                </div>
            </a>
        </div>
        {{/each}}

    </div>
</div>
<!-- home End -->
